{{!-- <h1>My posts:</h1>
  
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.header}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<h3><button><a href="/newpost">Create new post</a></button></h3> --}}

<header class='py-5 bg-light border-bottom mb-4'>
	<div class='container'>
		<div class='text-center my-5'>
			<h1 class='fw-bolder'>My Posts</h1>
			<a href='/newpost' class='btn btn-success btn-lg'>Create new post +</a>
		</div>
	</div>
</header>

<div class='d-flex justify-content-center'>
	<div class='col-6'>
		{{#each posts as |post|}}

			<div class='text-center'>
				<div class='card mt-3'>
					<div class='card-body'>
						<div class='small text-muted'>created
							{{format_date post.date_created}}
							by
							<a href=''>{{user.name}}</a></div>
						<h2 class='card-title'>{{post.header}}</h2>
						<p class='card-text'>{{truncate_post post.body}}</p>
						<a class='btn btn-primary' href='/post/{{post.id}}'>Read more →</a>
						<button
							id='del-button'
							class='btn btn-danger'
							data-id='{{post.id}}'
						>Delete</button>
					</div>
				</div>
			</div>

		{{/each}}
	</div>
</div>

<script src='./js/post.js'></script>